{% extends 'app.twig' %}

{% block contents %}

    {% include 'welcome.twig' %}
    {% include 'errors.twig' %}
    {% include 'message.twig' %}

    {% include 'Products/productInfo.twig' %}

    <div class="editProduct">

    <form method="post" action="/edit/{{ product.getId }}">
        <input type="hidden" name="id" value="{{ product.getId }}" />

        <label for="title">Product: </label>
        <input type="text" id="title" name="title" value="{{ product.getTitle }}" /><br/>

        <label for="quantity">Quantity: </label>
        <input type="text" id="quantity" name="quantity" value="{{ product.getQuantity }}" /><br/>

        <label for="category">Category: </label>
        <select id="category" name="category">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <br/>

        <div class="TagsSection">Tags: </div><br/>
        {% for tag in allTags.getTags %}
            <label for="{{ tag.getTag }}">{{ tag.getTag }}</label>
            <input type="checkbox" id="{{ tag.getTag }}" name="tags[]" value="{{ tag.getTag }}" />
        {% endfor %}

        <br/><br/>

        <input type="submit" name="submit" class="submit" value="Confirm"/>
    </form>

    </div>

    <br/>
    <form method="get" action="/product/{{ product.getId }}">
        <b><label for="hide"></label></b>
        <button type="submit" id="hide">Hide</button>
    </form>

    <br/><br/>

    {% include 'Products/delete.twig' %}

{% endblock %}