<h1>{{ product.getTitle }}</h1>

<ul><b>ID:</b> {{ product.getId }} </ul>
<ul><b>Title:</b> {{ product.getTitle }} </ul>
<ul><b>Category:</b> {{ product.getCategory }} </ul>
<ul><b>Quantity:</b> {{ product.getQuantity }} </ul>
<ul><b>Created At:</b> {{ product.getCreatedAt }} </ul>

{% if product.getEditedAt != null %}
    <ul><b>Edited At:</b> {{ product.getEditedAt }} </ul>
{% endif %}